/* ProfileCard.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #f5f3f3;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

/* Utilities */
.card::after,
.card img {
  border-radius: 50%;
}

body,
.card,
.stats {
  display: flex;
}

.card {
  padding: 2.5rem 2rem;
  border-radius: 10px;
  background-color: #EFE7DA;
  max-width: 500px;
  width: 500px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .15);
  margin: 1rem;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  z-index: -1;
}

.card::before {
  width: 100%;
  height: 100%;
  border: 1px solid #FFF;
  border-radius: 10px;
  top: -.7rem;
  left: -.7rem;
}

.card::after {
  height: 15rem;
  width: 15rem;
  background-color: #AA6F39;
  top: -8rem;
  right: -8rem;
  box-shadow: 2rem 6rem 0 -3rem #FFF;
}

.card img {
  width: 8rem;
  min-width: 80px;
  box-shadow: 0 0 0 5px #FFF;
  border: 1px 1px solid #DCC7AA;
}

.infos {
  margin-left: 1.5rem;
}

.name {
  margin-bottom: 1rem;
  display: flex; 
  gap: 2rem;
}

.user-info{
  /* display: flex; */
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
}

.user-info p {
  text-transform: capitalize;
}

@media screen and (max-width: 450px) {
  .card {
    display: block;
    width: 100% !important;
  margin: 0 !important;

  }
  .infos {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .links button {
    min-width: 100px;
  }
}